.banner {
  width: 100%;
  background-image: url(/assets/images/13685.jpg);
  background-color: #e4dcef;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  &-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #4054b2;
    opacity: 0.63;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }

  .title {
    position: relative;
    width: max-content;
    top: 45%;
    font-size: 35px;
    color: white;
    margin: 0 auto;
  }

  .line {
    position: relative;
    top: 50%;
    width: max-content;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  /*Animation*/
  .anim-typewriter {
    animation: typewriter 2s steps(36) 1s 1 normal both,
      blinkTextCursor 300ms steps(36) infinite normal;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 183px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
