<mat-toolbar class="toolbar mat-elevation-z2">
  <span>Logo</span>
  <input type="checkbox" id="hamburger-toggle">
  <label for="hamburger-toggle" class="hamburger">
    <span class="bar"></span>
  </label>
      <div class="menu">
          <ul>
              <li>
                <a href="">Link 1</a>
              </li>
              <li>
                <a href="/#service">Servicio</a>
              </li>
              <li>
                <a href="">Link 1</a>
              </li>
              <li>
                <a href="">Link 1</a>
              </li>
              <li>
                <a href="">Link 1</a>
              </li>
          </ul>
      </div>

</mat-toolbar>